<h1>Bonjour, merci de confirmer votre adresse mail pour www.lacuisinedecatherine.fr</h1>

<p>
    Cliquez sur le lien ci dessous pour valider votre mail: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon Email</a>.
    Le lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement Catherine
</p>
