{% extends 'base.html.twig' %}

{% block title %}cocktails{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="/styles/style.css">

{% endblock %}

{% block body %}
    <div class="container">
        
        <h1>cocktails</h1>


    </div>

{% endblock %}
