{% extends 'base.html.twig' %}

{% block title %}crepes{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="/styles/style.css">

{% endblock %}

{% block body %}
    <div class="container">
        
        <h1>Crêpes</h1>

        <div class="card-container">

            {% for recette in recettes %}
                {% if recette.categories.id == 4 %}
                    <div class="card">
                        <div class="card-ref">
                            <h4>{{ recette.nom }}</h4>
                        </div>
                        <div class="niveau">
                            {% if recette.niveaux.id == 1 %}
                                <span class = "fa fa-star checked"></span>
                                <span class = "fa fa-star unchecked"></span>
                                <span class = "fa fa-star unchecked"></span>  
                            {% endif %}
                            {% if recette.niveaux.id == 2 %}
                                <span class = "fa fa-star checked"></span>
                                <span class = "fa fa-star checked"></span>
                                <span class = "fa fa-star unchecked"></span>  
                            {% endif %}
                            {% if recette.niveaux.id == 3 %}
                                <span class = "fa fa-star checked"></span>
                                <span class = "fa fa-star checked"></span>
                                <span class = "fa fa-star checked"></span>  
                            {% endif %}
                        </div>
                        <div class="text-description">
                            <p>
                                <br>{{ recette.ingredients | nl2br}}
                            </p>
                        </div>
                        <div class="bouton">
                            <button type="button" class="btn btn-warning center">Voir la recette</button>
                        </div>
                    </div>
                    

                {% endif %}

                
            {% endfor %}
    </div>

{% endblock %}
