<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
   
    {% block stylesheets %} 
        <link rel="stylesheet" href="/styles/style.css">
    {% endblock %}

    <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css">

   

  </head>

  <body class="fond">

    <h1>La Cuisine de Catherine</h1>
    <div class="col-12">
          <img class="img" " src="{{asset('/images/ihoqvy90.gif') }}" alt="souris">
    </div>
    
    <div class="menu">
      <nav class="navbar navbar-expand-lg  navbar-light bg-transparent col-12 ">
        
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse align-items-center" id="navbarColor01">
            <ul class="navbar-nav centre">
              <li class="nav-item">
                <a class="nav-link" href="{{ path('index') }}">Accueil |<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('cocktails') }}">Cocktails |</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Entrées |</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Plats |</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Crêpes/Galettes |</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pâtes |</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sauces |</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Desserts |</a>
              </li>
            </ul>
            
          </div>
      </nav>
    </div>

    <footer>
      <br>
      <a href="#" class="col-12 card-link" target="_blank"><font style= "font-size:20px; Color: #C0C0C0; text-align: center;"> Conditions Générales d'Utilisation </font>  </a>
  </footer>

  {% block javascripts %}
        
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  {% endblock %}

  </body>

</html>
